<!-- Back button with custom text and icon -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
      [text]="buttonText">
    </ion-back-button>
  </ion-buttons>
  <ion-title>Detalhe</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="clan">
    <ion-item>
    <ion-avatar slot="start">
     <img src="{{badge.image}}">
     </ion-avatar>

    <ion-card-header>
      <ion-card-subtitle>{{clan.score}}</ion-card-subtitle>
      <ion-card-title>{{clan.name}}</ion-card-title>
    </ion-card-header>
  </ion-item>
    <ion-card-content>
        {{clan.description}}
    </ion-card-content>

  </ion-card>

  <ion-card *ngIf="members">
  
    <ion-card-header>
      <ion-card-subtitle>Lista de membros</ion-card-subtitle>
    </ion-card-header>

    <ion-list>
      <ion-item *ngFor="let item of members">
          {{item.name}}
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>
