<ion-header>
  <ion-toolbar>
    <ion-title>
      Teste 7comm - Ionic
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-text class="logo">
     <ion-img src="../../../assets/images/logo.png"></ion-img>
  </ion-text>

  <ion-card>
    <ion-item>
    <ion-label>
      Pesquise pela Clã que deseja
    </ion-label>
  </ion-item>
    <ion-searchbar type="text" debounce="500" showCancelButton="focus" (ionChange)="searchRequest($event)" animated>
    </ion-searchbar>
  </ion-card>

  <ion-card>
    <ion-list *ngIf="content">
      <ion-item *ngFor="let item of content" detail >
        <ion-label [routerLink]="['/details', item.tag]" routerLinkActive="router-link-active" >{{ item.name }} 
          <p slot="end">{{ item.score }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>
