@import "../../../theme/custom.scss";

.logo {
    ion-img{ 
        max-width: 190px;
        position: relative;
        margin: 0 auto;
        text-align: center;
    }

}
ion-toolbar{
    --background: var(--ion-color-dark-tint);
    --color: white

}
ion-content{
    --background: var(--ion-color-dark);
}
ion-card{
    --background: white
}