<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- Searchbar with cancel button never shown -->
  <ion-searchbar type="text" debounce="500" showCancelButton="focus" (ionInput)="searchRequest($event)" animated>
  </ion-searchbar>

  <ion-list *ngIf="content">
    <ion-item *ngFor="let item of content" detail >
      <ion-label [routerLink]="['/details', item.tag]" routerLinkActive="router-link-active" >{{ item.name }} 
        <p slot="end">{{ item.score }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
